<div class="page is-flex is-flex-direction-column">
  <%= render_banner %>

  <section class="section primary-content is-flex-grow-1">
    <div class="container">
      <%= before_content %>

      <%= render_alerts %>

      <%= content %>

      <%= after_content %>
    </div>
  </section>

  <%= render_footer %>
</div>
