<div class="field">
  <% if render_label? %>
  <label for="<%= id %>" class="label"><%= label %></label>
  <% end %>

  <div class="<%= control_class_names %>">
    <%= render_input %>

    <% if icon %>
    <%=
      render(
        Librum::Core::View::Components::Icon.new(
          class_name: 'is-left',
          icon:       icon,
          size:       'small'
        )
      )
    %>
    <% end %>

    <% if matching_errors.any? %>
    <%=
      render(
        Librum::Core::View::Components::Icon.new(
          class_name: 'is-right',
          icon:       'triangle-exclamation',
          size:       'small'
        )
      )
    %>
    <% end %>
  </div>

  <% if matching_errors.any? %>
  <p class="help is-danger"><%= matching_errors.join(', ') %></p>
  <% end %>
</div>
